## Exclude all
*


## Include GIT
!*/
!.gitignore


## Include VIVADO

#Source files:
!*.vhd
!*.v
!*.bd
!*.edif

#IP files
!*.xci
!*.dcp
!*.vds
!*.pb

#All bd comments and layout coordinates are stored within .ui
!*.ui
!*.ooc

#System Generator
!*.mdl
!*.slx
!*.bxml

#Simulation logic analyzer
!*.wcfg
!*.coe

#MIG
!*.prj
!*.mem

#Project files
!*.xpr

#Constraint files
!*.xdc

#TCL - files
!*.tcl

#Reports
!*.rpt
!*.txt
!*.vdi

#C-files
!*.c
!*.h
!*.elf
!*.bmm
!*.xmp
